.header-logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.secondary {
    background: #e91e63;
}


.header{
    background-color: #00bcd4;
}
.card:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.product-title{
    height: 60px;
}

.product-item{
    float: left;
}

.product-list{
    margin: 0 auto;
    padding: 0;
    list-style: none outside;
    clear: both;
}

.product-page-img{
    width:100%;
    /* height: 100vh; */
    opacity: 0.6;
}

.back-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}

.back-btn >a> i{
    color:#fff ;
    font-size: 45px ;
}

.product-details-table  td{
    padding: .75rem;
    vertical-align: top;
}

.product-details-table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.text-pink{
    color: #ff00ff;
}

.img-thumbnail{
    width: 100px;
}